In [1]:
import pandas as pd

In [ ]:
def standardize_timestamp(timestamp_str):
    if pd.isna(timestamp_str):
        return timestamp_str
    if '.' not in str(timestamp_str):
        return str(timestamp_str) + '.000000'
    return str(timestamp_str)

In [6]:
worker_logs = pd.read_csv('03_worker_logs.csv')
worker_logs['start_time'] = worker_logs['start_time'].apply(standardize_timestamp)
worker_logs['end_time'] = worker_logs['end_time'].apply(standardize_timestamp)
worker_logs['start_time'] = pd.to_datetime(worker_logs['start_time'], format='%Y-%m-%dT%H:%M:%S.%f')
worker_logs['end_time'] = pd.to_datetime(worker_logs['end_time'], format='%Y-%m-%dT%H:%M:%S.%f')
worker_logs['processing_time'] = (worker_logs['end_time'] - worker_logs['start_time']).dt.total_seconds() * 1000

print("Worker logs:")
display(worker_logs.head())
log_length =  len(worker_logs)
print(f"Total log entries: {log_length}")
unique_events = worker_logs['event_id'].nunique()
print(f"Unique events: {unique_events}")

Worker logs:

,event_id,worker_id,start_time,end_time,status,processing_time
0,evt_0000000,worker-2,2025-07-12 09:15:00.000,2025-07-12 09:15:00.005,success,5.0
1,evt_0000001,worker-1,2025-07-12 09:15:00.005,2025-07-12 09:15:00.012,success,7.0
2,evt_0000002,worker-3,2025-07-12 09:15:00.010,2025-07-12 09:15:00.022,success,12.0
3,evt_0000003,worker-1,2025-07-12 09:15:00.015,2025-07-12 09:15:00.026,success,11.0
4,evt_0000004,worker-3,2025-07-12 09:15:00.020,2025-07-12 09:15:00.023,success,3.0

Total log entries: 70250
Unique events: 70000

In [ ]:
event_counts = worker_logs['event_id'].value_counts()
retried_events = event_counts[event_counts > 1]
print(f"Events with retries: {retried_events}")